[submodule "ut"]
	path = ut
	url = https://github.com/boost-ext/ut.git
[submodule "operators"]
	path = operators
	url = https://github.com/taocpp/operators.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
